p{
    color:rgb(7, 2, 2);
    text-align: center;
    margin: 5%;
}
h1{
    color:rgb(240, 240, 248);
    text-align: center;
    font-size: 100;
    background-color: rgb(8, 168, 115);
    margin: 0%;
}
h2 {
    color: brown;
    text-align: center;
    margin: 5px;
}
img {
    text-align: center;
}
.img1 {
    padding: 10;
    text-align: center;
    margin-bottom: 0%;
}

.cajas {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: auto auto 20px;
    height: 100vh;
   
}
.left{
    background-color: rgb(8, 168, 115);
    place-items: center;
    text-align: center;
    border: 3px double;
}
.right {
    background-color: rgb(229, 228, 128);
    }




